.container{
    display: flex;
}
.container .left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .center svg{
    height: calc(100vh - var(--topbar-height) );
}
.container .center svg text{
    font-weight: bold;
    paint-order: stroke fill;
    fill:none;
    font-size: 86px;
    fill:#202022;
    stroke-width: 8px;
    stroke-linejoin: round;
    stroke:#73A9AD;
}

.container .right{
    flex:1;
    display: flex;
    align-content: center;
    justify-content: center;
}
.container .right svg{
    margin: auto;
}