.container {
    flex-direction: column;
    background-color: var(--background);
    overflow: hidden;
  }
  
.container .main{
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--topbar-height));
    justify-content: center;
    margin-top:calc(var(--topbar-height));
    align-items: center;

  
  }

.wrapper{
    width: 90vw;
    height: 95%;
    border: 3px dashed var(--green-900);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}
.wrapper .top{
    border-bottom: 3px dashed var(--green-900);
}
.wrapper .top,.bottom{
    flex:1;
    display: flex;
}
.wrapper .top .leftCanvasContainer{
    flex:1;
}
.wrapper .top .rightCanvasContainer{
    flex:1;
}

.wrapper .bottom .leftCanvasContainer{
    flex:1;
}
.wrapper .bottom .rightCanvasContainer{
    flex:1;
}
